body{
  background-color: #1d1d1d;
}

.centered{
  position: fixed;
  left: 0;
  right: 0;
  margin: auto;
  display: block;
}

#analog-stopwatch{
  top: 50px;
}

.tile{
  border: none;
  display: block;
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -o-border-radius: 0;
  -webkit-box-shadow: inset 0px 0px 1px #FFFFCC;
  -moz-box-shadow: inset 0px 0px 1px #FFFFCC;
  -o-box-shadow: inset 0px 0px 1px #FFFFCC;
  box-shadow: inset 0px 0px 1px #FFFFCC;
}

.action-button{
  cursor: pointer;
  color: white;
  font-size: 1em;
  padding: 5px;
  width: 70px;
}

.action-button:hover{
  outline: #999999 solid 1px;
}

.start-button{
  background-color: #60a917;
}

.stop-button{
  background-color: #9a1616; 
}
